{{define "main"}}
<div class="text-right space-b">
  <a href="/pings-new">+ Add a new ping</a>
</div>
{{if .Pings}}
<table>
  <tr>
    <th>ID</th>
    <th>Domain</th>
    <th>Status</th>
    <th>Last Check</th>
  </tr>
  {{range .Pings}}
    <tr>
      <td><a href="/pings/{{.ID}}">{{.ID}}</a></td>
      <td>{{.Domain}}</td>
      <td class={{if eq .Status "unhealthy"}}"error"{{else}}"success"{{end}}>{{.Status}}</td>
      <td>{{humanDate .LastCheck}}</td>
    </tr>
  {{else}}
  <h4>You are not pinging any domains</h4>
  {{end}}
</table>
{{end}} {{end}}
