{{define "main"}}
<div class="ping-domain-summary">
  <p>Domain: <strong>{{.Settings.Domain}}</strong></p>
  <p>Expected response code: <strong>{{.Settings.SuccessCode}}</strong></p>
</div>

<table>
  <thead>
    <tr>
      <th>Resp. Code</th>
      <th>Date (UTC)</th>
      <th>Took (ms)</th>
    </tr>
  </thead>
  <tbody> 
  {{range .Checks}}
    <tr>
      <td>{{.RespStatus}}</td>
      <td>{{humanDate .CreatedAt}}</td>
      <td>{{.TookMs}}</td>
    </tr>
  {{end}}
  </tbody>
</table>
{{end}}
