{{define "main"}}
<div>
  <p>Domain: <strong>{{.Settings.Domain}}</strong></p>
  <p>Expected response code: <strong>{{.Settings.SuccessCode}}</strong></p>
<div>

<table>
  <tr>
    <th>Resp. Code</th>
    <th>Date</th>
    <th>Took (ms)</th>
  </tr>
  {{range .Checks}}
    <tr>
      <td>{{.RespStatus}}</td>
      <td>{{humanDate .CreatedAt}}</td>
      <td>{{.TookMs}}</td>
    </tr>
  {{end}}
</table>
{{end}}
