{{define "main"}}
  <section>
    <h3>Personal Details</h3>

    <div style="margin-left:48px;">
      <p>
        <span style="width:100px;display:inline-block;">Email: </span>
        <strong class="primary">{{.User.Email}}</strong>
      </p>
      <p>
        <span style="width:100px;display:inline-block;">Plan: </span>
        <strong class="primary">Free</strong>
      </p>
    </div>
  </section>
  <hr />

  <section>
    <h3>Notification Preferences</h3>
    
    <div class="card">
      <h4>Email</h4>
      <p>Send an email to the following address when a ping fails or a domain is about to expire.</p>
      <div class="inline">
        {{template "settings_email_input" .}}
        <label class="toggle">
          <input
            class="toggle-checkbox"
            type="checkbox"
            name="enabled"
            {{if .Prefs.Email.Enabled}}checked{{end}}
            hx-put="/settings/toggle/{{.Prefs.Email.ID}}"
            hx-swap="outerHTML"
            hx-indicator="#ind"
          />
          <div class="toggle-switch"></div>
          <span class="toggle-label"></span>
          <img id="ind" class="htmx-indicator" style="margin-left:12px;" src="/static/img/bars.svg" />
        </label>
      </div>
    </div>
    
    <div class="card">
      <h4>Slack</h4>
      <p>Send a slack message when a ping fails or a domain is about to expire.</p>
      <p class="it">You may check <a href="https://api.slack.com/messaging/webhooks" target="_blank">Slack's docs</a> if you need guidance setting up a webhook.</p>
      <div class="inline">
        {{template "settings_slack_input" .}}
        <label class="toggle">
          <input
            class="toggle-checkbox"
            type="checkbox"
            name="enabled"
            {{if .Prefs.Slack.Enabled}}checked{{end}}
            hx-put="/settings/toggle/{{.Prefs.Slack.ID}}"
            hx-swap="outerHTML"
            hx-indicator="#ind"
          />
          <div class="toggle-switch"></div>
          <span class="toggle-label"></span>
          <img id="ind" class="htmx-indicator" style="margin-left:12px;" src="/static/img/bars.svg" />
        </label>
      </div>
    </div>
  </section>
  <hr />
{{end}}
