PORT=4000
DSN=postgres://postgres:pass123@localhost:5432/domainator
PING_TICK_INTERVAL=15m
CLEAN_INTERVAL=12h
CLEAN_MAX_AGE=48h
VERIFICATION_CODE_EXP=30m
RESEND_API_KEY=api-key
JWT_SECRET=hmac-token-signing-key
TOKEN_EXP=24h
