* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Roboto', 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-white: #ECEFF4;
  --secondary-white: #D8DEE9;
  --primary-black: #2E3440;
  --secondary-black: #4C566A;
  --error: #BF616A;
  --warning: #D08770;
  --success: #A3BE8C;
  --header-h: 83px;
  --foother-h: 48px;
}

body {
  background: var(--primary-white);
  color: var(--primary-black);
}

header {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 16px;
}

nav {
  display: inline-block;
  position: relative;

  button.user {
    padding: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--primary-black);
    background: var(--primary-white);
    color: var(--primary-black);

    &:hover {
      border: 2px solid var(--primary-black);
      color: var(--primary-black);
      background: var(--primary-white) !important;
    }

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  &:hover ul {
    display: block;
  }

  ul {
    display: none;
    position: absolute;
    right: 0;
    overflow: auto;
    background-color: var(--primary-white);
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  li {
    list-style: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    &:hover {
      background-color: var(--secondary-white);
    }
  }

  a {
    text-decoration: none;
    color: var(--primary-black);
  }
}

main {
  min-height: calc(100vh - var(--header-h) - var(--foother-h));
  padding: 32px;
}

footer {
  height: var(--foother-h);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--secondary-white);
}

section {
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  font-size: 3.5em;
  font-weight: lighter;
  margin: 16px 0;
}

h1.bold,
h2.bold {
  font-weight: normal;
}

h2 {
  font-size: 2.75em;
  font-weight: lighter;
  margin-bottom: 16px;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
  color: var(--secondary-black);
}

p {
  font-size: 1.1em;
  margin: 4px 0;
  line-height: 1.2;
  word-spacing: 2px;
}

.intro {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  align-items: center;

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }

  p {
    font-size: 1.25em;
    margin: 24px 0;
    color: var(--secondary-black);
  }

  a {
    margin-top: 12px;
  }

  img {
    width: 100%;
  }
}

.heavy-border {
  border: 2px solid var(--primary-black);
}

.divider {
  border-top: 2px solid var(--secondary-white);
  width: 200px;
  margin: 100px auto;
}

.features {
  max-width: 1200px;
  margin: 0 auto 32px auto;
  h2 {
    text-align: center;
  }
}

.features .row {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.features .row .card {
  h3 {
    margin: 12px 0;
  }
  p {
    color: var(--secondary-black);
  }
}

.hero {
  margin-bottom: 100px;
}

input {
  font-size: 1.1em;
  background: var(--primary-white);
  color: var(--primary-black);
  border: 1px solid var(--secondary-white);
  border-radius: 4px;
  padding: 8px 16px;
  &:focus {
    border: 1px solid var(--primary-black);
  }
}

a.btn {
  text-decoration: none;
  display: flex;
  width: fit-content;
  align-items: center;
  & > svg {
    margin-right: 8px;
  }
}

button.text {
  border: none;
  background: none;
  color: var(--primary-black);
  padding: 0;
  margin: 0;
  font-size: 1rem;
  &:hover {
    border: none;
    background: none !important;
    color: var(--primary-black);
  }
}

a.btn,
button {
  font-size: 1.1em;
  border: 2px solid var(--primary-black);
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

button.htmx-request {
  opacity: 0.5;
  pointer-events: none;
}

.btn-primary {
  background: var(--primary-black);
  color: var(--primary-white);
  &:hover {
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 0px 2px var(--secondary-white);
  }
}

.btn-secondary {
  background: var(--primary-white);
  color: var(--secondary-black);
  &:hover {
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 0px 2px var(--primary-black);
  }
}

.icon-btn {
  padding: 4px 8px;
  background: var(--primary-white);
  color: var(--secondary-black);
  &:hover {
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 0px 1px var(--primary-black);
  }
}

table {
  margin: 24px 0;
  padding: 16px;
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid var(--secondary-white);
  }

  thead {
    color: var(--secondary-black);
    th {
      font-weight: normal;
    }
  }

  td,th {
    padding: 12px;
  }

  th {
    text-align: left;
  }

  .row {
    padding: 8px 4px;
  }

  .row.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}

form {
  .loader-container {
    display: none;
  }
}

form.inline {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

form.htmx-request {
  button {
    opacity: 0.5;
    pointer-events: none;
  }

  .loader-container {
    display: inline-block;
  }
}

.error-text {
  color: var(--error);
}

.chip {
  font-weight: bold;
  border-radius: 16px;
  border: 1px solid var(--secondary-white);
  padding: 4px 8px;
}

.ml-1 {
  margin-left: 8px;
}

.mt-4 {
  margin-top: 32px;
}

.w-250 {
  max-width: 250px;
  word-wrap: break-word;
}

.center {
  text-align: center;
}

.page-center {
  min-height: calc(100vh - var(--foother-h) - var(--header-h));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.x-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hideme {
  display: none;
}

#notification {
  color: var(--primary-white);
  background: var(--secondary-black);
  border-radius: 4px;
  padding: 16px 24px;
  margin-bottom: 16px;
  transition: all 0.3s ease-in-out;
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, 0);
}

.loader {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.loader div {
  display: inline-block;
  position: absolute;
  left: 0px;
  width: 8px;
  background: var(--secondary-black);
  animation: loader-animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader div:nth-child(1) {
  left: 0px;
  animation-delay: -0.24s;
}
.loader div:nth-child(2) {
  left: 12px;
  animation-delay: -0.12s;
}
.loader div:nth-child(3) {
  left: 24px;
  animation-delay: 0;
}
@keyframes loader-animation {
  0% {
    top: 4px;
    height: 24px;
  }
  50%, 100% {
    top: 8px;
    height: 12px;
  }
}
