{{define "settings_email_input"}}
  <div hx-target="this" hx-swap="outerHTML">
    <div style="display:flex;">
      <input
        type="text"
        name="email"
        value="{{.Prefs.Email.To}}"
        hx-put="/settings/email/{{.Prefs.Email.ID}}"
        hx-indicator="#ind"
      />
      <img id="ind" class="htmx-indicator" style="margin-left:12px;" src="/static/img/bars.svg" />
    </div>
    
    {{if .Error}}
      <div>
        <span class="error">{{.Error}}</span>
      </div>
    {{end}}
  </div>
{{end}}
