* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Roboto', 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-white: #ECEFF4;
  --secondary-white: #D8DEE9;
  --primary-black: #2E3440;
  --secondary-black: #4C566A;
  --error: #BF616A;
  --warning: #D08770;
  --success: #A3BE8C;
  --foother-h: 48px;
}

body {
  background: var(--primary-white);
  color: var(--primary-black);
}

main {
  min-height: calc(100vh - var(--foother-h));
  padding: 32px;
}

footer {
  height: var(--foother-h);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--secondary-white);
}

section {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
  font-weight: lighter;
  margin: 16px 0;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
  color: var(--secondary-black);
}

.hero {
  margin-bottom: 200px;
}

input {
  font-size: 1.1em;
  background: var(--primary-white);
  color: var(--primary-black);
  border: 1px solid var(--secondary-white);
  border-radius: 4px;
  padding: 8px 16px;
  &:focus {
    border: 1px solid var(--primary-black);
  }
}

button {
  font-size: 1.1em;
  border: 1px solid var(--primary-black);
  border-radius: 4px;
  background: var(--primary-black);
  color: var(--primary-white);
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: var(--secondary-black);
  }
}

button.btn-danger {
  border: 1px solid var(--secondary-black);
  background: var(--primary-white);
  color: var(--secondary-black);
  padding: 4px 8px;
  &:hover {
    border: 1px solid var(--error);
    color: var(--error);
  }
}

table {
  margin: 24px 0;
  padding: 16px;
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid var(--secondary-white);
  }

  thead {
    color: var(--secondary-black);
    th {
      font-weight: normal;
    }
  }

  td,th {
    padding: 12px;
  }

  th {
    text-align: left;
  }

  .row {
    padding: 8px 4px;
  }

  .row.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}

form {
  .loader-container {
    display: none;
  }
}

form.inline {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

form.htmx-request {
  button {
    opacity: 0.5;
    pointer-events: none;
  }

  .loader-container {
    display: inline-block;
  }
}

.error-text {
  color: var(--error);
}

.chip {
  font-weight: bold;
  border-radius: 16px;
  border: 1px solid var(--secondary-white);
  padding: 4px 8px;
}

.loader {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.loader div {
  display: inline-block;
  position: absolute;
  left: 0px;
  width: 8px;
  background: var(--secondary-black);
  animation: loader-animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader div:nth-child(1) {
  left: 0px;
  animation-delay: -0.24s;
}
.loader div:nth-child(2) {
  left: 12px;
  animation-delay: -0.12s;
}
.loader div:nth-child(3) {
  left: 24px;
  animation-delay: 0;
}
@keyframes loader-animation {
  0% {
    top: 4px;
    height: 24px;
  }
  50%, 100% {
    top: 8px;
    height: 12px;
  }
}
