{{define "subject"}}
  Domainator Alert! - Ping Failure
{{end}}

{{define "body"}}
  <html lang="en">
    <head>
      <title>Domainator Alert! - Ping Failure</title>
      <meta name="viewport" content="width=device-width" />
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
      <p>Hi,</p>
      <h2>Domain {{.URL}} is unhealthy</h2>
      <ul>
        <li>Expected Status Code: <strong>{{.Expected}}</strong></li>
        <li>Received Status Code: <strong>{{.Actual}}</strong></li>
        <li>Checked At (UTC): <strong>{{.Time}}</strong></li>
      </ul>
    </body>
  </html>
{{end}}
