@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/static/fonts/titillium_latin_ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/static/fonts/titillium_latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.nord {
  --bg: #2e3440;
  --bg-alt: #434c5e;
  --border: #3b4252;
  --text-alt: #d8dee9;
  --text: #eceff4;
  --error: #bf616a;
  --warn: #d08770;
  --success: #a3be8c;
  --link: #88c0d0;
  --link-hover: #81a1c1;
  --primary: #b48ead;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Titillium Web", monospace;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  background-color: var(--bg);
  color: var(--text);
  overflow-y: auto;
}

header,
nav,
main,
footer {
  padding: 2px calc((100% - 800px) / 2) 0;
}

main {
  margin-top: 54px;
  margin-bottom: 54px;
  min-height: calc(100vh - 345px);
  overflow: auto;
}

h1 a {
  font-size: 36px;
  font-weight: bold;
  background-image: url("/static/img/logo.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 36px;
  padding-left: 50px;
  position: relative;
  text-shadow: var(--primary) 2px 0 10px;
}

h1 a:hover {
  text-decoration: none;
  color: var(--text);
  transition: 0.2s ease-in-out;
}

h2 {
  font-size: 22px;
  margin-bottom: 36px;
  position: relative;
  top: -9px;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}

textarea,
input:not([type="submit"]) {
  font-size: 18px;
  font-family: "Titillium Web", monospace;
}

header {
  background-image: -webkit-linear-gradient(
    left,
    #4c566a,
    #4c566a 25%,
    #b48ead 25%,
    #b48ead 35%,
    #81a1c1 35%,
    #81a1c1 45%,
    #5e81ac 45%,
    #5e81ac 55%,
    #a3be8c 55%,
    #a3be8c 65%,
    #ebcb8b 65%,
    #ebcb8b 75%,
    #d08770 85%,
    #d08770 85%,
    #bf616a 85%,
    #bf616a 100%
  );
  background-image: -moz-linear-gradient(
    left,
    #4c566a,
    #4c566a 25%,
    #b48ead 25%,
    #b48ead 35%,
    #81a1c1 35%,
    #81a1c1 45%,
    #5e81ac 45%,
    #5e81ac 55%,
    #a3be8c 55%,
    #a3be8c 65%,
    #ebcb8b 65%,
    #ebcb8b 75%,
    #d08770 85%,
    #d08770 85%,
    #bf616a 85%,
    #bf616a 100%
  );
  background-image: -ms-linear-gradient(
    left,
    #4c566a,
    #4c566a 25%,
    #b48ead 25%,
    #b48ead 35%,
    #81a1c1 35%,
    #81a1c1 45%,
    #5e81ac 45%,
    #5e81ac 55%,
    #a3be8c 55%,
    #a3be8c 65%,
    #ebcb8b 65%,
    #ebcb8b 75%,
    #d08770 85%,
    #d08770 85%,
    #bf616a 85%,
    #bf616a 100%
  );
  background-image: linear-gradient(
    to right,
    #4c566a,
    #4c566a 25%,
    #b48ead 25%,
    #b48ead 35%,
    #81a1c1 35%,
    #81a1c1 45%,
    #5e81ac 45%,
    #5e81ac 55%,
    #a3be8c 55%,
    #a3be8c 65%,
    #ebcb8b 65%,
    #ebcb8b 75%,
    #d08770 85%,
    #d08770 85%,
    #bf616a 85%,
    #bf616a 100%
  );
  background-size: 100% 6px;
  background-repeat: no-repeat;
  overflow: auto;
  padding-top: 33px;
  padding-bottom: 27px;
  text-align: center;
}

header a {
  color: var(--text);
  text-decoration: none;
}

nav {
  border-bottom: 1px solid var(--border);
  padding-top: 17px;
  padding-bottom: 15px;
  background: var(--bg-alt);
  height: 60px;
  color: var(--text-alt);
}

nav a {
  margin-right: 1.5em;
  display: inline-block;
}

nav form {
  display: inline-block;
  margin-left: 1.5em;
}

nav div {
  width: 50%;
  float: left;
}

nav div:last-child {
  text-align: right;
}

nav div:last-child a {
  margin-left: 1.5em;
  margin-right: 0;
}

nav a.live {
  color: var(--text);
  cursor: default;
}

nav a.live:hover {
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

nav a.live:after {
  content: "";
  display: block;
  position: relative;
  left: calc(50% - 7px);
  top: 9px;
  width: 14px;
  height: 14px;
  background: var(--bg-alt);
  border-left: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(-45deg);
}

a.button,
input[type="submit"] {
  background-color: var(--link);
  border-radius: 3px;
  color: var(--bg);
  padding: 18px 27px;
  border: none;
  display: inline-block;
  margin-top: 18px;
  font-weight: 700;
}

a.button:hover,
input[type="submit"]:hover {
  background-color: var(--link-hover);
  color: var(--bg);
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

form div {
  margin-bottom: 18px;
}

form div:last-child {
  border-top: 1px dashed var(--border);
}

input[type="radio"] {
  margin-left: 18px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  padding: 0.75em 18px;
  width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  color: var(--text-alt);
  background: var(--bg-alt);
  border: 1px solid var(--border);
  border-radius: 3px;
}

label {
  display: inline-block;
  margin-bottom: 9px;
}

.healthy,
.ill,
.unhealthy {
  border-radius: 8px;
  width: fit-content;
  padding: 0 8px;
  color: var(--bg);
}
.healthy {
  background: var(--success);
}
.ill {
  background: var(--warn);
}
.unhealthy {
  background: var(--error);
}

.success {
  color: var(--success);
  font-weight: bold;
}

.error {
  color: var(--error);
  font-weight: bold;
  display: block;
}

.error + textarea,
.error + input {
  border-color: var(--error) !important;
  border-width: 2px !important;
}

textarea {
  padding: 18px;
  width: 100%;
  height: 266px;
}

button {
  background: none;
  padding: 0;
  border: none;
  color: var(--link);
  text-decoration: none;
}

button:hover {
  color: var(--link-hover);
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button.outline-danger {
  display: flex;
  padding: 6px;
  border: 1px solid var(--error);
  color: var(--error);
  cursor: pointer;
}

button.outline-danger:hover {
  text-decoration: none;
  background: var(--error);
  color: var(--text);
  transition: 0.2s ease-in-out;
}

button.btn-icon svg {
  width: 24px;
  height: 24px;
}

small {
  color: var(--text-alt);
  font-size: 14px;
}

div.flash {
  color: var(--bg);
  font-weight: bold;
  background-color: var(--text);
  padding: 18px;
  margin-bottom: 36px;
  text-align: center;
}

div.error {
  color: var(--bg-alt);
  background-color: var(--error);
  padding: 18px;
  margin-bottom: 36px;
  font-weight: bold;
  text-align: center;
}

table {
  background: var(--bg-alt);
  border: 1px solid var(--border);
  border-collapse: collapse;
  width: 100%;
  box-shadow: 2px 2px 6px 2px var(--primary);
}

td,
th {
  text-align: left;
  padding: 9px 18px;
}

th.right,
td.right {
  text-align: right;
}

th.flex-center,
td.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

tr {
  border-bottom: 1px solid var(--border);
}

tr:nth-child(2n) {
  background-color: var(--border);
}

.text-right {
  text-align: right;
}

.space-b {
  margin-bottom: 16px;
}

footer {
  border-top: 1px solid var(--border);
  padding-top: 17px;
  padding-bottom: 15px;
  background: var(--bg-alt);
  height: 60px;
  color: var(--text-alt);
  text-align: center;
}

#error-notification {
  position: fixed;
  top: 20px;
  right: 20px;
  max-width: 400px;
  padding: 12px 24px;
  background: var(--warn);
  border-left: 20px solid var(--error);
  color: var(--bg);
}

.hidden {
  display: none;
}

.ping-domain-summary {
  border: 2px solid var(--primary);
  padding: 24px;
  margin-bottom: 48px;
}

.ping-domain-summary p {
  font-size: 24px;
}

.ping-domain-summary strong {
  color: var(--primary);
  font-size: 24px;
  letter-spacing: 1.5px;
}

section {
  margin-top: 48px;
  margin-bottom: 48px;
}

section h3 {
  text-transform: uppercase;
  margin-bottom: 24px;
  font-size: 20px;
}

.primary {
  color: var(--primary);
}

.card {
  border: 1px solid var(--border);
  padding: 24px;
  margin: 24px 0;
  box-shadow: 2px 2px 6px 2px var(--primary);
}

.card h4 {
  font-size: 22px;
  color: var(--primary);
}

.card p {
  margin-bottom: 12px;
  color: var(--text-alt);
}

div.inline {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-gap: 48px;
  align-items: center;
}

.it {
  font-style: italic;
}

.upper {
  text-transform: uppercase;
}

/* Toggle Switch */
.toggle {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
}

.toggle-switch {
  display: inline-block;
  background: var(--text-alt);
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, var(--text) 0%, var(--text-alt) 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, var(--text) 0%, var(--text) 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: var(--link);
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
/* End Toggle Switch */
