name: Audit

on:
  pull_request:
    branches: [main]

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.0

      - name: Verify dependencies
        run: go mod verify

      - name: Build
        run: go build ./cmd/web

      - name: Tests
        run: go test -race -vet=off ./...

      - name: Vet
        run: go vet ./...

      - name: Staticcheck
        uses: dominikh/staticcheck-action@v1
        with:
          version: latest

      - id: govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: 1.23.0
