name: golangci-lint

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.23.4
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.58
          args: --timeout=10m --disable-all --enable errcheck,gosimple,ineffassign,unused,gocritic,misspell,stylecheck
